@import "code";

html {
    font-size: 1.05em;
    font-family: sans-serif;
	--alternative-background-color: #f5f1f1;

    @media (prefers-color-scheme: dark) {
        color: white;
        background-color: #1d1e22;
		--alternative-background-color: #333232;
    
        a {
            color: #03a9f4;
            &:visited { color: #87ceeb; }
        }
    }

    body {
        margin: 0;
        padding: 0;
    }
}

ul:has(input) {
    padding-left: 20px;

    li {
        list-style-type: none;
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    margin: 10px auto;
}

table:not(.codehilitetable) {
    --table-border-color: #ddd;

    @media (prefers-color-scheme: dark) {
        --table-border-color: #444;
    }

    width: 100%;
    border-collapse: collapse;

    tr {
        border: 1px solid var(--table-border-color);
    }
    
    tr:nth-child(even) {
        background: var(--alternative-background-color);
    }
    
    td, th {
        padding: 10px;
        text-align: left;
    }

    @media (max-width: 400px) {
        display: block;
        overflow-x: scroll;
    }
}
