@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@import "code";
@import "default";

html {
    font-family: roboto, sans-serif;

    body {
        padding-left: 240px;
    
        @media (max-width: 700px) {
            padding-left: 0;
        }
    }
}

#content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    text-align: justify;

    > :first-child {
        margin-top: 0;
        padding-top: 35px;

        @media (max-width: 700px) {
            padding-top: 65px;
        }
    }
}

nav {
    --nav-color: black;
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    @media (prefers-color-scheme: dark) {
        --nav-color: #fff;
        --box-shadow-color: rgba(0, 0, 0, 0.3);

        svg path {
            fill: #fff;
        }
    }

    left: 0;
    height: 100%;
    width: 240px;
    position: fixed;
    background-color: var(--alternative-background-color);
    box-shadow: inset -10px 0 10px -10px var(--box-shadow-color);

    #header {
        display: block;
        padding: 10px 0;
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
        background-color: #03a9f4;

        a {
            margin-top: 3px;
        }
        
        label {
            padding: 2px;
            transition: background-color 0.1s ease-in-out;

            &, input { display: none; }
            &:hover { background-color: rgba(0,0,0,0.1) }
        }
    }

    > ul {
        padding: 0;
        margin: 20px 0 0 20px;

        > li {
            list-style-type: none;
        }
    }

    li {
        margin-top: 5px;
        list-style: square;
    }

    a {
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        
        &, &:visited {
            color: var(--nav-color);
        }

        &:not(#header a) {
            &:hover, &:visited:hover { color: #03a9f4 }
        }
    }

    @media (max-width: 700px) {
        height: auto;
        width: 100%;

        > ul { display: none }
        &:has(input:checked) > ul {
            display: block;
            margin-bottom: 20px;
        }

        #header {
            font-size: 1em;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;

            label {
                display: inline-block;
                width: 20px;
                height: 20px;

                svg {
                    scale: 0.2;
                    margin-left: -40px;
                    margin-top: -40px;
                }
            }
        }
    }
}

html, table, pre {
    ::-webkit-scrollbar {
        height: 4px;
        width: 4px;

        &-track {
            background-color: var(--alternative-background-color);
        }

        &-thumb {
            background-color: #979393;
            &:active {background-color: #555 }
        }
    }
}

#loader.active {
    height: 2px;
    position: fixed;
    background-color: #03a9f4;
    animation: loader .8s forwards;
}

@keyframes loader {
    0% { width: 0; }
    99% { width: 100%; }
    100% { opacity: 0; }
}

#error {
    opacity: 0;
    &.active { opacity: 1 }
    transition: opacity 0.3s ease-in-out;

    z-index: 1;
    top: 20px;
    right: 20px;
    width: 144px;
    position: absolute;
    text-align: center;
    font-family: Inconsolata, monospace;
    background-color: var(--alternative-background-color);
    padding: 10px;
    border-radius: 3px;

    @media (max-width: 700px) {
        top: 3px;
        right: 50px;
        width: auto;
    }
}
