@import "pygments.scss";

html {
    font-family: sans-serif;

    @media (prefers-color-scheme: dark) {
        color: white;
        background-color: #1d1e22;
    
        a {
            color: #03a9f4;
            &:visited { color: #0276aa; }
        }
    
        svg path {
            fill: white;
        }
    }

    li:has(input)::marker {
        content: none;
    }
    
    svg {
        top: -22px;
        right: -22px;
        scale: 0.35;
        position: absolute;
    }
    
    .img {
        width: 400px;
        height: auto;
    }
}
