{% from "macros.html" import render_nav -%}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Markdown SPA</title>
    
    <link rel="stylesheet" href="{{ url_root }}/{{ assets_path }}/style.css" />
</head>
<body>
    <ul>
        {{+ render_nav(tree, "", url_root) -}}
    </ul>
    
    <div id="app">
        {{- page_content }}
    </div>

    <script>
        const app = document.getElementById('app')

        function changePage(event) {
            event.preventDefault();

            fetch(`${event.target.href}`)
                .then(resp => resp.text())
                .then(html => {
                    let start = html.indexOf('<div id="app">');
                    let end = html.indexOf('</div>', start);
                    app.innerHTML = html.substring(start, end + 6);
                });

            window.history.pushState({}, '', event.target.href);
        }

        for (a of document.querySelectorAll('a')) {
            a.addEventListener('click', changePage)
        }
    </script>
</body>
</html>
