{% from "macros.html" import render_nav -%}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Markdown SPA</title>
    
    <script src="{{ url_root }}/{{ assets_path }}/script.js" defer></script>
    <link rel="stylesheet" href="{{ url_root }}/{{ assets_path }}/style.css" />
</head>
<body>
    <ul>
        <li><a href="{{ url_root }}/">Home</a></li>
        {{+ render_nav(tree, "", url_root) -}}
    </ul>
    
    {{ page_content }}
</body>
</html>
