{% macro render_nav(tree, full_path, url_root) -%}
{% for path, item in tree.items() -%}
    {% if item is not mapping and path != "index" -%}
        <li><a href="{{ url_root }}{{ full_path }}/{{ path }}">{{ item }}</a></li>
    {%- elif item is mapping +%}
        <li><a href="{{ url_root }}{{ full_path }}/{{ path }}">{{ path.title() }}</a>
            <ul>
                {{ render_nav(item, full_path+'/'+path, url_root) }}
            </ul>
        </li>
    {% endif -%}
{% endfor -%}
{% endmacro -%}