{% macro render_nav(tree, root) -%}
<ul>
    {% if root -%}
        <li><a href="/{{ tree.path }}">{{ tree.meta.name }}</a></li>
    {% endif -%}

    {%- for child in tree.children | sort(attribute='meta.order') -%}
        {% if child.children -%}
            <li><a href="/{{ child.path }}/">{{ child.meta.name }}</a>
                {{ render_nav(child, False) }}
            </li>
        {% else -%}
            <li><a href="/{{ child.path }}/">{{ child.meta.name }}</a></li>
        {% endif -%}
    {% endfor -%}
</ul>
{% endmacro -%}

{{ render_nav(tree, True) }}
